{% extends 'admin.twig' %} {% block content %} {% if isLoginControllerActivated|default(false) %}
<div piwik-notification context="warning" noclear="true">
  <strong>{{ 'General_Warning'|translate }}</strong>: {{ 'LoginShibboleth_LoginPluginEnabledWarning'|translate("Login", "LoginShibboleth") }}
</div>
{% endif %}
<div ng-controller="LoginShibbolethAdminController as adminController">
  <h2>{{ 'LoginShibboleth_Settings'|translate }}</h2>
  <p>Normally setting the Shibboleth setting would be enough for the login to work. There is also an exrtra limited LDAP function which can be used as meta data provider for the data from Shibboleth $_SERVER.</p>
  <table id='shibbolethSettingsTable' class="adminTable" piwik-ajax-form submit-api-method="'LoginShibboleth.saveShibbolethConfig'" send-json-payload="true">
    <tr>
      <td>
        <label for="primary_adapter">{{'LoginShibboleth_PrimaryAdapter'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_PrimaryAdapterDesc'|translate}}</span>
      </td>
      <td>
        <select id="primary_adapter" name="primary_adapter">
          <option value="shibboleth" {% if shibbolethConfig.primary_adapter=='shibboleth' %} selected="selected" {%endif%}>{{'LoginShibboleth_Shibboleth'|translate}}</option>
          <option value="ldap" {% if shibbolethConfig.primary_adapter=='ldap' %} selected="selected" {%endif%}>{{'LoginShibboleth_Ldap'|translate}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="delete_old_user">{{ 'LoginShibboleth_DeleteOldUser'|translate }}</label>
        <br/>
        <span class='form-description'>{{ 'LoginShibboleth_DeleteOldUserDesc'|translate }}</span>
      </td>
      <td>
        <input type="checkbox" {% if shibbolethConfig.delete_old_user %} checked="checked" {% endif %} id="delete_old_user" name="delete_old_user" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_separator">{{'LoginShibboleth_ShibbolethSeparator'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethSeparatorDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_separator!='' %} value="{{ shibbolethConfig.shibboleth_separator }}" {%endif%} id="shibboleth_separator" name="shibboleth_separator" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_user_login">{{'LoginShibboleth_ShibbolethUserLogin'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethUserLoginDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_user_login!='' %} value="{{ shibbolethConfig.shibboleth_user_login }}" {%endif%} id="shibboleth_user_login" name="shibboleth_user_login" />
      </td>
    </tr>

    <tr>
      <td>
        <label for="shibboleth_user_alias">{{'LoginShibboleth_ShibbolethUserAlias'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethUserAliasDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_user_login!='' %} value="{{ shibbolethConfig.shibboleth_user_alias }}" {%endif%} id="shibboleth_user_alias" name="shibboleth_user_alias" />
      </td>
    </tr>

    <tr>
      <td>
        <label for="shibboleth_user_email">{{'LoginShibboleth_ShibbolethUserEmail'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethUserEmailDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_user_login!='' %} value="{{ shibbolethConfig.shibboleth_user_email }}" {%endif%} id="shibboleth_user_email" name="shibboleth_user_email" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_group">{{'LoginShibboleth_ShibbolethGroup'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethGroupDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_group!='' %} value="{{ shibbolethConfig.shibboleth_group}}" {%endif%} id="shibboleth_group" name="shibboleth_group" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_restrict_view">{{'LoginShibboleth_ShibbolethRestrictView'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethRestrictViewDesc'|translate}}</span>
      </td>
      <td>
        <input type="checkbox" {% if shibbolethConfig.shibboleth_restrict_view %} checked="checked" {% endif %} id="shibboleth_restrict_view" name="shibboleth_restrict_view" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_view_group">{{'LoginShibboleth_ShibbolethViewGroup'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethViewGroupDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_view_group!='' %} value="{{ shibbolethConfig.shibboleth_view_group }}" {%endif%} id="shibboleth_view_group" name="shibboleth_view_group" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_restrict_admin">{{'LoginShibboleth_ShibbolethRestrictAdmin'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethRestrictAdminDesc'|translate}}</span>
      </td>
      <td>
        <input type="checkbox" {% if shibbolethConfig.shibboleth_restrict_admin %} checked="checked" {% endif %} id="shibboleth_restrict_admin" name="shibboleth_restrict_admin" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_admin_group">{{'LoginShibboleth_ShibbolethAdminGroup'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethAdminGroupDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_admin_group!='' %} value="{{ shibbolethConfig.shibboleth_admin_group }}" {%endif%} id="shibboleth_admin_group" name="shibboleth_admin_group" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="shibboleth_superuser_group">{{'LoginShibboleth_ShibbolethSuperUserGroup'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_ShibbolethSuperUserGroupDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.shibboleth_superuser_group!='' %} value="{{ shibbolethConfig.shibboleth_superuser_group }}" {%endif%} id="shibboleth_superuser_group" name="shibboleth_superuser_group" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_active">{{ 'LoginShibboleth_ActivateLdap'|translate }}</label>
        <br/>
        <span class='form-description'>{{ 'LoginShibboleth_ActivateLdapDesc'|translate }}</span>
      </td>
      <td>
        <input type="checkbox" {% if shibbolethConfig.ldap_active %} checked="checked" {% endif %} id="ldap_active" name="ldap_active" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_user_name">{{'LoginShibboleth_LdapUserName'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapUserNameDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_user_name!='' %} value="{{ shibbolethConfig.ldap_user_name }}" {%endif%} id="ldap_user_name" name="ldap_user_name" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_password">{{'LoginShibboleth_LdapPassword'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapPasswordDesc'|translate}}</span>
      </td>
      <td>
        <input type="password" {% if shibbolethConfig.ldap_password!='' %} value="{{ shibbolethConfig.ldap_password }}" {%endif%} id="ldap_password" name="ldap_password" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_host">{{'LoginShibboleth_LdapHost'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapHostDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_host!='' %} value="{{ shibbolethConfig.ldap_host }}" {%endif%} id="ldap_host" name="ldap_host" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_dn">{{'LoginShibboleth_LdapDN'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapDNDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_dn!='' %} value="{{ shibbolethConfig.ldap_dn }}" {%endif%} id="ldap_dn" name="ldap_dn" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_port">{{'LoginShibboleth_LdapPort'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapPortDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_port!='' %} value="{{ shibbolethConfig.ldap_port }}" {%endif%} id="ldap_port" name="ldap_port" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_user_alias">{{'LoginShibboleth_LdapUserAlias'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapUserAliasDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_user_alias!='' %} value="{{ shibbolethConfig.ldap_user_alias }}" {%endif%} id="ldap_user_alias" name="ldap_user_alias" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_user_email">{{'LoginShibboleth_LdapUserEmail'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapUserEmailDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_user_email!='' %} value="{{ shibbolethConfig.ldap_user_email }}" {%endif%} id="ldap_user_email" name="ldap_user_email" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_active_data">{{'LoginShibboleth_LdapActiveData'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapActiveDataDesc'|translate}}</span>
      </td>
      <td>
        <select id="ldap_active_data" name="ldap_active_data" multiple>
          <option value='' {% if shibbolethConfig.ldap_active_data=='' %} selected="selected" {%endif%}>{{'LoginShibboleth_Nothing'|translate}}</option>
          <option value="ldapView" {% if shibbolethConfig.ldap_active_data=='ldapView' %} selected="selected" {%endif%}>{{'LoginShibboleth_LdapView'|translate}}</option>
          <option value="ldapAdmin" {% if shibbolethConfig.ldap_active_data=='ldapAdmin' %} selected="selected" {%endif%}>{{'LoginShibboleth_LdapAdmin'|translate}}</option>
          <option value="ldapSuperUser" {% if shibbolethConfig.ldap_active_data=='ldapSuperUser' %} selected="selected" {%endif%}>{{'LoginShibboleth_LdapSuperUser'|translate}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_view_filter">{{'LoginShibboleth_LdapViewFilter'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapViewFilterDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_view_filter!='' %} value="{{ shibbolethConfig.ldap_view_filter }}" {%endif%} id="ldap_view_filter" name="ldap_view_filter" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_view_attr">{{'LoginShibboleth_LdapViewAttr'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapViewAttrDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_view_attr!='' %} value="{{ shibbolethConfig.ldap_view_attr }}" {%endif%} id="ldap_view_attr" name="ldap_view_attr" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_admin_filter">{{'LoginShibboleth_LdapAdminFilter'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapAdminFilterDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_admin_filter!='' %} value="{{ shibbolethConfig.ldap_admin_filter }}" {%endif%} id="ldap_admin_filter" name="ldap_admin_filter" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_admin_attr">{{'LoginShibboleth_LdapAdminAttr'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapAdminAttrDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_admin_attr!='' %} value="{{ shibbolethConfig.ldap_admin_attr }}" {%endif%} id="ldap_admin_attr" name="ldap_admin_attr" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_superuser_filter">{{'LoginShibboleth_LdapSuperUserFilter'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapSuperUserFilterDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_superuser_filter!='' %} value="{{ shibbolethConfig.ldap_superuser_filter }}" {%endif%} id="ldap_superuser_filter" name="ldap_superuser_filter" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_superuser_attr">{{'LoginShibboleth_LdapSuperUserAttr'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapSuperUserAttrDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_superuser_attr!='' %} value="{{ shibbolethConfig.ldap_superuser_attr }}" {%endif%} id="ldap_superuser_attr" name="ldap_superuser_attr" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="ldap_superuser_value">{{'LoginShibboleth_LdapSuperUserValue'|translate}}</label>
        <br/>
        <span class='form-description'>{{'LoginShibboleth_LdapSuperUserValueDesc'|translate}}</span>
      </td>
      <td>
        <input type="text" {% if shibbolethConfig.ldap_superuser_value!='' %} value="{{ shibbolethConfig.ldap_superuser_value }}" {%endif%} id="ldap_superuser_value" name="ldap_superuser_value" />
      </td>
    </tr>
    <tr>
      <td align="left">
        <input class="submit" type="submit" value="{{ 'General_Save'|translate }}" ng-disabled="ajaxForm.isSubmitting" />
      </td>
      <td> </td>
    </tr>
  </table>
</div>
{% endblock %}
