{% extends 'admin.twig' %} {% block content %} {% if isLoginControllerActivated|default(false) %}
<div piwik-notification context="warning" noclear="true">
    <strong>{{ 'General_Warning'|translate }}</strong>: {{ 'LoginShibboleth_LoginPluginEnabledWarning'|translate("Login", "LoginShibboleth") }}
</div>
{% endif %}
<div ng-controller="LoginShibbolethAdminController as adminController">
    <h1>{{'LoginShibboleth_Settings'|translate}}</h1> {{'LoginShibboleth_Description'|translate}}
    <br/>
    <h2>{{'LoginShibboleth_GeneralSettings'|translate}}</h2>
    <table id='shibbolethSettingsTable' class="adminTable" piwik-ajax-form submit-api-method="'LoginShibboleth.saveShibbolethConfig'" send-json-payload="true">
        <tr>
            <td>
                <label for="primary_adapter">{{'LoginShibboleth_PrimaryAdapter'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_PrimaryAdapterDesc'|translate}}</span>
            </td>
            <td>
                <select id="primary_adapter" name="primary_adapter">
                    <option value="shibboleth" {% if shibbolethConfig.primary_adapter=='shibboleth' %} selected="selected" {%endif%}>{{'LoginShibboleth_Shibboleth'|translate}}</option>
                    <option value="ldap" {% if shibbolethConfig.primary_adapter=='ldap' %} selected="selected" {%endif%}>{{'LoginShibboleth_Ldap'|translate}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="logout_url">{{'LoginShibboleth_LogOutUrl'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LogOutUrlDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.logout_url!='' %} value="{{ shibbolethConfig.logout_url }}" {%endif%} id="logout_url" name="logout_url" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="delete_old_user">{{ 'LoginShibboleth_DeleteOldUser'|translate }}</label>
                <br/>
                <span class='form-description'>{{ 'LoginShibboleth_DeleteOldUserDesc'|translate }}</span>
            </td>
            <td>
                <input type="checkbox" {% if shibbolethConfig.delete_old_user %} checked="checked" {% endif %} id="delete_old_user" name="delete_old_user" />
            </td>
        </tr>
        <tr>
            <td>
                <h2>{{'LoginShibboleth_ShibbolethSettings'|translate}}</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{'LoginShibboleth_ShibbolethKeys'|translate}}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_separator">{{'LoginShibboleth_ShibbolethSeparator'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethSeparatorDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_separator!='' %} value="{{ shibbolethConfig.shibboleth_separator }}" {%endif%} id="shibboleth_separator" name="shibboleth_separator" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_user_login">{{'LoginShibboleth_ShibbolethUserLogin'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethUserLoginDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_user_login!='' %} value="{{ shibbolethConfig.shibboleth_user_login }}" {%endif%} id="shibboleth_user_login" name="shibboleth_user_login" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_user_alias">{{'LoginShibboleth_ShibbolethUserAlias'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethUserAliasDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_user_login!='' %} value="{{ shibbolethConfig.shibboleth_user_alias }}" {%endif%} id="shibboleth_user_alias" name="shibboleth_user_alias" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_user_email">{{'LoginShibboleth_ShibbolethUserEmail'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethUserEmailDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_user_login!='' %} value="{{ shibbolethConfig.shibboleth_user_email }}" {%endif%} id="shibboleth_user_email" name="shibboleth_user_email" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_group">{{'LoginShibboleth_ShibbolethGroup'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethGroupDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_group!='' %} value="{{ shibbolethConfig.shibboleth_group}}" {%endif%} id="shibboleth_group" name="shibboleth_group" />
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{'LoginShibboleth_GroupsSettings'|translate}}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h6>{{'LoginShibboleth_ManualGroups'|translate}}</h6>
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_groups_manual_active">{{ 'LoginShibboleth_ShibbolethGroupManualActive'|translate }}</label>
                <br/>
                <span class='form-description'>{{ 'LoginShibboleth_ShibbolethGroupManualActiveDesc'|translate }}</span>
            </td>
            <td>
                <input type="checkbox" {% if shibbolethConfig.shibboleth_groups_manual_active %} checked="checked" {% endif %} id="shibboleth_groups_manual_active" name="shibboleth_groups_manual_active" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_groups_manual">{{'LoginShibboleth_ShibbolethGroupManual'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethGroupManualDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_groups_manual!='' %} value="{{ shibbolethConfig.shibboleth_groups_manual }}" {%endif%} id="shibboleth_groups_manual" name="shibboleth_groups_manual" />
            </td>
        </tr>
        <tr>
            <td>
                <h6>{{'LoginShibboleth_ViewGroups'|translate}}</h6>
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_view_groups">{{'LoginShibboleth_ShibbolethViewGroups'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethViewGroupsDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_view_groups!='' %} value="{{ shibbolethConfig.shibboleth_view_groups }}" {%endif%} id="shibboleth_view_groups" name="shibboleth_view_groups" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_view_groups_contains_domain">{{'LoginShibboleth_ShibbolethViewGroupsContainsDomain'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethViewGroupsContainsDomainDesc'|translate}}</span>
            </td>
            <td>
                <input type="radio" {% if shibbolethConfig.shibboleth_view_groups_option=="shibboleth_view_groups_domains_active" %} checked="checked" {% endif %} id="shibboleth_view_groups_contains_domain" name="shibboleth_view_groups_option" value="shibboleth_view_groups_domains_active"
                />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_view_groups_ldap_active">{{'LoginShibboleth_ShibbolethViewGroupLdapActive'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethViewGroupLdapActiveDesc'|translate}}</span>
            </td>
            <td>
                <input type="radio" {% if shibbolethConfig.shibboleth_view_groups_option=="shibboleth_view_groups_ldap_active" %} checked="checked" {% endif %} id="shibboleth_view_groups_ldap_active" name="shibboleth_view_groups_option" value="shibboleth_view_groups_ldap_active"
                />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_view_groups_ldap_attr">{{'LoginShibboleth_ShibbolethViewGroupsLdapAttr'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethViewGroupsLdapAttrDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_view_groups_ldap_attr!='' %} value="{{ shibbolethConfig.shibboleth_view_groups_ldap_attr }}" {%endif%} id="shibboleth_view_groups_ldap_attr" name="shibboleth_view_groups_ldap_attr" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_view_groups_ldap_dn">{{'LoginShibboleth_ShibbolethViewGroupsLdapDN'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethViewGroupsLdapDNDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_view_groups_ldap_dn!='' %} value="{{ shibbolethConfig.shibboleth_view_groups_ldap_dn }}" {%endif%} id="shibboleth_view_groups_ldap_dn" name="shibboleth_view_groups_ldap_dn" />
            </td>
        </tr>



        <tr>
            <td>
                <h6>{{'LoginShibboleth_AdminGroups'|translate}}</h6>
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_admin_groups">{{'LoginShibboleth_ShibbolethAdminGroups'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethAdminGroupsDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_admin_groups!='' %} value="{{ shibbolethConfig.shibboleth_admin_groups }}" {%endif%} id="shibboleth_admin_groups" name="shibboleth_admin_groups" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_view_admin_contains_domain">{{'LoginShibboleth_ShibbolethAdminGroupsContainsDomain'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethAdminGroupsContainsDomainDesc'|translate}}</span>
            </td>
            <td>
                <input type="radio" {% if shibbolethConfig.shibboleth_admin_groups_option=="shibboleth_admin_groups_domains_active" %} checked="checked" {% endif %} id="shibboleth_view_groups_contains_domain" name="shibboleth_admin_groups_option" value="shibboleth_admin_groups_domains_active"
                />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_admin_groups_ldap_active">{{'LoginShibboleth_ShibbolethAdminGroupLdapActive'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethAdminGroupLdapActiveDesc'|translate}}</span>
            </td>
            <td>
                <input type="radio" {% if shibbolethConfig.shibboleth_admin_groups_option=="shibboleth_admin_groups_ldap_active" %} checked="checked" {% endif %} id="shibboleth_admin_groups_ldap_active" name="shibboleth_admin_groups_option" value="shibboleth_admin_groups_ldap_active"
                />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_admin_groups_ldap_attr">{{'LoginShibboleth_ShibbolethAdminGroupsLdapAttr'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethAdminGroupsLdapAttrDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_admin_groups_ldap_attr!='' %} value="{{ shibbolethConfig.shibboleth_admin_groups_ldap_attr }}" {%endif%} id="shibboleth_admin_groups_ldap_attr" name="shibboleth_admin_groups_ldap_attr" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="shibboleth_admin_groups_ldap_dn">{{'LoginShibboleth_ShibbolethAdminGroupsLdapDN'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethAdminGroupsLdapDNDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_admin_groups_ldap_dn!='' %} value="{{ shibbolethConfig.shibboleth_admin_groups_ldap_dn }}" {%endif%} id="shibboleth_admin_groups_ldap_dn" name="shibboleth_admin_groups_ldap_dn" />
            </td>
        </tr>


        <tr>
            <td>
                <h6>{{'LoginShibboleth_SuperUserGroups'|translate}}</h6>
            </td>
        </tr>
        <tr>
            <td>
                <label for="shibboleth_superuser_groups">{{'LoginShibboleth_ShibbolethSuperUserGroups'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_ShibbolethSuperUserGroupsDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.shibboleth_superuser_groups!='' %} value="{{ shibbolethConfig.shibboleth_superuser_groups }}" {%endif%} id="shibboleth_superuser_groups" name="shibboleth_superuser_groups" />
            </td>
        </tr>
        <tr>
            <td>
                <h2>{{'LoginShibboleth_LdapSettings'|translate}}</h2>
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_active">{{ 'LoginShibboleth_ActivateLdap'|translate }}</label>
                <br/>
                <span class='form-description'>{{ 'LoginShibboleth_ActivateLdapDesc'|translate }}</span>
            </td>
            <td>
                <input type="checkbox" {% if shibbolethConfig.ldap_active %} checked="checked" {% endif %} id="ldap_active" name="ldap_active" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_user_name">{{'LoginShibboleth_LdapUserName'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapUserNameDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_user_name!='' %} value="{{ shibbolethConfig.ldap_user_name }}" {%endif%} id="ldap_user_name" name="ldap_user_name" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_password">{{'LoginShibboleth_LdapPassword'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapPasswordDesc'|translate}}</span>
            </td>
            <td>
                <input type="password" {% if shibbolethConfig.ldap_password!='' %} value="{{ shibbolethConfig.ldap_password }}" {%endif%} id="ldap_password" name="ldap_password" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_host">{{'LoginShibboleth_LdapHost'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapHostDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_host!='' %} value="{{ shibbolethConfig.ldap_host }}" {%endif%} id="ldap_host" name="ldap_host" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_dn">{{'LoginShibboleth_LdapDN'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapDNDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_dn!='' %} value="{{ shibbolethConfig.ldap_dn }}" {%endif%} id="ldap_dn" name="ldap_dn" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_port">{{'LoginShibboleth_LdapPort'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapPortDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_port!='' %} value="{{ shibbolethConfig.ldap_port }}" {%endif%} id="ldap_port" name="ldap_port" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_user_alias">{{'LoginShibboleth_LdapUserAlias'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapUserAliasDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_user_alias!='' %} value="{{ shibbolethConfig.ldap_user_alias }}" {%endif%} id="ldap_user_alias" name="ldap_user_alias" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_user_email">{{'LoginShibboleth_LdapUserEmail'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapUserEmailDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_user_email!='' %} value="{{ shibbolethConfig.ldap_user_email }}" {%endif%} id="ldap_user_email" name="ldap_user_email" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_active_data">{{'LoginShibboleth_LdapActiveData'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapActiveDataDesc'|translate}}</span>
            </td>
            <td>
                <select id="ldap_active_data" name="ldap_active_data" multiple>
                    <option value='' {% if '' in shibbolethConfig.ldap_active_data %} selected="selected" {%endif%}>{{'LoginShibboleth_Nothing'|translate}}</option>
                    <option value="ldapView" {% if 'ldapView' in shibbolethConfig.ldap_active_data %} selected="selected" {%endif%}>{{'LoginShibboleth_LdapView'|translate}}</option>
                    <option value="ldapAdmin" {% if 'ldapAdmin' in shibbolethConfig.ldap_active_data %} selected="selected" {%endif%}>{{'LoginShibboleth_LdapAdmin'|translate}}</option>
                    <option value="ldapSuperUser" {% if 'ldapSuperUser' in shibbolethConfig.ldap_active_data %} selected="selected" {%endif%}>{{'LoginShibboleth_LdapSuperUser'|translate}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_view_filter">{{'LoginShibboleth_LdapViewFilter'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapViewFilterDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_view_filter!='' %} value="{{ shibbolethConfig.ldap_view_filter }}" {%endif%} id="ldap_view_filter" name="ldap_view_filter" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_view_attr">{{'LoginShibboleth_LdapViewAttr'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapViewAttrDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_view_attr!='' %} value="{{ shibbolethConfig.ldap_view_attr }}" {%endif%} id="ldap_view_attr" name="ldap_view_attr" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_admin_filter">{{'LoginShibboleth_LdapAdminFilter'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapAdminFilterDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_admin_filter!='' %} value="{{ shibbolethConfig.ldap_admin_filter }}" {%endif%} id="ldap_admin_filter" name="ldap_admin_filter" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_admin_attr">{{'LoginShibboleth_LdapAdminAttr'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapAdminAttrDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_admin_attr!='' %} value="{{ shibbolethConfig.ldap_admin_attr }}" {%endif%} id="ldap_admin_attr" name="ldap_admin_attr" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_superuser_filter">{{'LoginShibboleth_LdapSuperUserFilter'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapSuperUserFilterDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_superuser_filter!='' %} value="{{ shibbolethConfig.ldap_superuser_filter }}" {%endif%} id="ldap_superuser_filter" name="ldap_superuser_filter" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_superuser_attr">{{'LoginShibboleth_LdapSuperUserAttr'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapSuperUserAttrDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_superuser_attr!='' %} value="{{ shibbolethConfig.ldap_superuser_attr }}" {%endif%} id="ldap_superuser_attr" name="ldap_superuser_attr" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ldap_superuser_value">{{'LoginShibboleth_LdapSuperUserValue'|translate}}</label>
                <br/>
                <span class='form-description'>{{'LoginShibboleth_LdapSuperUserValueDesc'|translate}}</span>
            </td>
            <td>
                <input type="text" {% if shibbolethConfig.ldap_superuser_value!='' %} value="{{ shibbolethConfig.ldap_superuser_value }}" {%endif%} id="ldap_superuser_value" name="ldap_superuser_value" />
            </td>
        </tr>
        <tr>
            <td align="left">
                <input class="submit" type="submit" value="{{ 'General_Save'|translate }}" ng-disabled="ajaxForm.isSubmitting" />
            </td>
            <td> </td>
        </tr>
    </table>
</div>
{% endblock %}
